# Pandas Series and DataFrame Notes
This notebook contains structured examples for working with **Pandas Series** and **DataFrames**.

## 1️⃣ Series Examples

In [ ]:
import pandas as pd

### Creating a Series

In [ ]:
# From a list
data = [12, 13, 14]
series = pd.Series(data)
series

In [ ]:
# With custom index
series = pd.Series(data, index=['a', 'b', 'c'])
series

### Accessing and Updating Values

In [ ]:
# Access by label
series.loc['a']

In [ ]:
# Access by position
series.iloc[0]

In [ ]:
# Update value by label
series.loc['a'] = 200
series

### Filtering Values

In [ ]:
data3 = [1, 2, 3, 4, 5, 6]
series3 = pd.Series(data3, index=['a', 'b', 'c', 'd', 'e', 'f'])

# Filter even numbers
series3[series3 % 2 == 0]

In [ ]:
# Filter numbers greater than 3
series3[series3 > 3]

### Series from a Dictionary

In [ ]:
dic1 = {'Car': 'BMW M3', 'Sports': 'Football', 'Bike': 'BMW S1000rr'}
dicseries = pd.Series(dic1)
dicseries

In [ ]:
# Access by label
dicseries.loc['Car']

In [ ]:
# Update value
dicseries.loc['Bike'] = 'Yamaha R7'
dicseries

In [ ]:
# Filter by value
dicseries[dicseries == 'Football']

## 2️⃣ DataFrame Examples

In [ ]:
# Creating a DataFrame from a dictionary
data = {
    'BMW': ['M3', 'M4', 'M5'],
    'Lamborghini': ['Aventador', 'Hurracan', 'Gollardo'],
    'Mclaren': ['F1', 'P1', 'W1']
}

# Custom index
df = pd.DataFrame(data, index=['Model 1', 'Model 2', 'Model 3'])
df

### Accessing and Updating DataFrame Values

In [ ]:
# Access row by label
df.loc['Model 2']

In [ ]:
# Access value by row and column
df.loc['Model 2', 'Lamborghini']

In [ ]:
# Access row by position
df.iloc[0]['BMW']

In [ ]:
# Update value
df.loc['Model 2', 'Lamborghini'] = 'Veneno'
df

### Adding Columns and Rows

In [ ]:
# Add a new column
df['Cheveloret'] = ['C6', 'C7', 'C8']
df

In [ ]:
# Add a new row (using concat)
new_row = pd.DataFrame(
    [{'BMW': 'M8', 'Lamborghini': 'Hurracan', 'Mclaren': '720 Lt', 'Cheveloret': 'C9'}],
    index=['Model 4']
)

df = pd.concat([df, new_row])
df